<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>LMS</display-name>
    <description>Driving School Managment System.</description>
    <servlet>
        <servlet-name>ActionController</servlet-name>
        <servlet-class>com.rowi.lms.controller.ActionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncomeExpenceServlet</servlet-name>
        <servlet-class>com.rowi.lms.account_report.servlet.IncomeExpenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountSummeryServlet</servlet-name>
        <servlet-class>com.rowi.lms.account_report.servlet.AccountSummeryServlet</servlet-class>
    </servlet>
<!--    <servlet-mapping>
        <servlet-name>ActionController</servlet-name>
        <url-pattern>/ActionController/*</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>IncomeExpenceServlet</servlet-name>
        <url-pattern>/IncomeExpenceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountSummeryServlet</servlet-name>
        <url-pattern>/AccountSummeryServlet</url-pattern>
    </servlet-mapping>
</web-app>
